/* Login Page Styles */
.logo-font {
    font-family: 'Orbitron', sans-serif;
}

.fade-in {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 1s ease, transform 1s ease;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}

/* Page transition */
body {
    opacity: 0;
    transition: opacity 0.6s ease;
}

body.show-page {
    opacity: 1;
}

a.page-link {
    transition: opacity 0.3s ease;
}

a.page-link.fade-out {
    opacity: 0;
}